<%- include("../includes/header.ejs", {title:"team"}); %>
<h1>Select A Conference</h1>
<ul>






            <% for(var i=0; result.length > i; i++ ) { %><br/>
        <a href="/conference/?conference_id=<%=result[i].conference_id%>"><%= result[i].division %><br/></a>
           <br/> <% } %>

    </li>
</ul>
</body>
<br/>
<a href="/"><< back</a>


<%- include("../includes/footer.ejs"); %>